.NavLink {
    text-decoration: none;
    transition: 1s;
    
  }
  .NavLink:hover {
    border: 1px solid orange;
    transition: 1s;
    border-radius: 20px;
  } 
  
  header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  
  .NavLink-home {
    color: #DDD;
    font-size: 15px;
    margin-right: 73px;
    padding: 10px;
}
  
  .NavLink-portfolio {
    color: #DDD;
    font-size: 15px;
    padding: 10px;

  }

  
  .NavLink.active {
    border-bottom: 1px solid orange; 
  }
  
  nav {
    position: absolute;
    margin-top: 31px;
    right: 273px;
  }
  
  .Logo {
    margin-top: 36px;
    margin-left: 60px;
    width: 60px;
    height: 30.18px;
  }
  
  .LogoImg {
    width: 60px;
    height: 30.18px;
  }
  